<div>
    <p>Data: {{ controller.data }}</p>
    <p>Window size: {{ controller.width }}x{{ controller.height }}</p>
    <div>
        <h3>GridDrawer</h3>
        <p>line_width: {{ controller.drawer.line_width }}</p>
        <p>cell_size: {{ controller.drawer.cell_size }}</p>
        <p>grid_line_color: {{ controller.drawer.grid_line_color }}</p>
        <p>grid_cell_color: {{ controller.drawer.grid_cell_color }}</p>
        <p>dead_cell_color: {{ controller.drawer.dead_cell_color }}</p>
    </div>
</div>
